#header{
    background-color: blue;
    color: white;
    width:100%;
}

#header_block_left{
    width:20%; 
    height: 200px;  
    float: left;
    background-color: blue;
    color: white;
}

#header_block_center{
    width:30%; 
    height: 200px;  
    float: left;
    background-color: blue;
    color: white;
}

#header_block_rigth{
    width:60%; 
    height: 200px;  
    float: right;
    background-color: blue;
    color: white;
}

.class_main_block_left {
    width:32%; 
    height: 200px;  
    float:left; ; 
    background-color: #2E406F;
    color: white;
    padding-left: 2%;
}
.class_main_block_center {
    width:32%; 
    height: 200px;  
    float:left; ; 
    background-color: #2E406F;
    color:white;
    
}
.class_main_block_right{
    width:32%; 
    height: 200px;  
    float:right; 
    background-color: #2E406F;
    color:white;

}

/** Linea Separadora */
.linea_separadora{
    width:70%;
    text-align:left;
    margin-left: 0;
}